@charset "utf-8";
/* CSS Document */

/* supported: IE 9 +, android 4.2.2 + */
/*
opacity: IE 9 +, android 4.2 + 
box-sizing: IE 8 + android 4.2 + 
*/

/* Общие стили */
body {
	padding: 0;
	margin: 0;
	min-width: 960px;
	font-family: 'cuprumregular', sans-serif;
}

/* Центровщик */
.layout-positioner {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

/*--------------------------------------------------------
 Стили для главной страницы 
 -------------------------------------------------------*/
/* Хедер */
.main-header {
	background-color: #f1f5f7;
	margin-bottom: 60px;
}
.buyer-panel {
	background-color: #293449;
	font-size: 0;
}
/* шрифт * на множитель высоты строки = 24 * 1,1 = примерно 26px,
и + паддинг 8px сверху и снизу = 26 + 8 + 8 = 42px.
Теперь если увеличить размер шрифта, то высота строки так же увеличиться */
.logo {
	display: inline-block; /* Делаем блочно-строчными */
	vertical-align: top; /* Выравниваем */
	width: 220px;
	background-color: #ee3643;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	font-family: 'cuprumbold', sans-serif;
	font-size: 34px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden; /* Скрываем текст при переполнении */
}
.search-form {
	display: inline-block; /* Делаем блочно-строчными */
	vertical-align: top; /* Выравниваем */
	width: 270px;
	position: relative;
}
.search-form button[type="submit"] {
	padding: 0;
	position: absolute;
	left: 13px;
	top: 50%;
	margin-top: -9px;
	border: none;
	background: none;
	font-size: 17px;
	line-height: 18px;
	cursor: pointer;
	outline: none;
	color: #fff;
	opacity: .3;
}

.search-form input[type="search"] {
	padding-left: 50px;
	width: 100%;
	min-height: 42px; /*Фиксированная минимальная высота, так как если
	                    использовать паддинги, то появляется непонятная 
						лишняя толщина в 1 пиксель*/				
	border: none;
	font-size: 67px;
	line-height: 1.1;
	color: #fff;
	background-color: #293449;
	outline: none;
	font-family: 'cuprumregular', sans-serif;
}

/* шрифт * на множитель высоты строки = 17 * 1,1 = примерно 18px,
и + паддинг 12px сверху и снизу = 18 + 12 + 12 = 42px.
Теперь если увеличить размер шрифта, то высота строки так же увеличиться */
.buyer-panel-btn {
	display: inline-block; /* Делаем блочно-строчными */
	vertical-align: top; /* Выравниваем */
	background-color: #293449;
	padding: 12px 0;
	width: 150px;
	font-size: 27px;
	line-height: 1.1;
	text-decoration: none;
	color: #fff;
	text-align: center;
	overflow: hidden; /* Скрываем текст при переполнении */
}